* {
  border: box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2px;
  /* position: fixed; */
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgray;

}


ul {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 2px;
  margin: 6px;
  justify-content: space-around;
  text-decoration: none;
}

.nav-item {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}